.ftpignore
.ftpconfig

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

data/
!data/.gitkeep
!data/img_features/.gitkeep
!data/models/.gitkeep

output/*
!output/.gitkeep
!output/snap/.gitkeep


.idea/
Oscar/
Prevalent/

airsim_plugin/settings

scripts/temp/*
*.tar

.vscode
nohup.out

temp/*
*.log

src/DATA/
files/
secret/

weights/
output/
obs_imgs/

memory/KG/*
memory/mem/*
landmark_graph.pkl
